python==3.10
torch==2.0.1+cpu  # or use another compatible version
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu
setuptools
distutils
streamlit==1.23.0
numpy==1.24.3
pandas
matplotlib
scikit-learn
beautifulsoup4
